#main
  .submain This is a nested DIV.
  %p
    .note DIV is not allowed in paragraph.

%ul
  .first one
  .last two

%table
  %thead
    .row
      .cell head1
      .cell head2
  .row
    .cell data1
    .cell data2
